<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layout}">
<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

	 <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active">Cadastro Imóvel</li>
          </ul>
        </div>
      </div>

		<div class="container">
					<H2>sfdsfljsdlkfjsdlkfjasdkfjdsaklfjl</H2>

		</div>

	</section>


</body>
</html>