    <!DOCTYPE html>
<html layout:decorate="~{'/layouts/layout'}"></html>
        <title>Entrar na Loja</title>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Usuário e/ou inválidos!</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">ENTRAR</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input name="username" class="form-control" placeholder="Usuário"/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Senha"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Entrar</button>
                            </div>
                            <!-- 	
                            <div class="form-group">
                                    <input type="checkbox" id="remember-me" name="remember-me" />
                                    <label for="remember-me">Lembrar?</label>
                            </div>
                             -->
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </form>
                    </div>
                        <p align="center">OU</p>
                    <div class="panel-body">
                        <a href="/Usuário/add"><button class="btn btn-primary btn-block">Cadastrar-se</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
