<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- Fragmento Head -->
<head>
<title>Lbook - Usuarios</title>
</head>

<body>
  <div layout:fragment="corpo">
	<div class="row justify-content-center">
		<div class="col-xl-11 col-lg-11 col-md-11 card o-hidden border-0 shadow-lg my-0">
			
		<p class="h4 text-gray-900 ">Usuários</p>

		<div th:each="usuario : ${usuarios}" class="col-sm-12">
			<hr class="col-sm-12">

			<div th:if="${usuario.foto}" class="col-sm-2">
				<img class="img-responsive avatar-view" id="fotopreview"
					th:src="@{/usuario/imagem/{id}(id=${usuario.id})}" alt="Avatar"
					title="Mudar a foto" style="width: 180px; height: 180px">
			</div>
			
			<div th:if="${usuario.foto == null}"  class="col-md-2 mb-5">
			   <img src="/img/user.png" id="uploadPreview" 
			   		class=" pb-3 img-responsive  img-thumbnail rounded mx-auto d-block" /
			   		title="Mudar a foto" style="width: 180px; height: 180px"
			   >
		   </div>
			
			<div class="col-sm-12 mb-4 ">
				<span class="h5 text-gray-900 mb-4">Nome:</span> <span
					class="h5 text-gray-900 mb-4" th:text="${usuario.nome}"></span>
			</div>
			
			<div class="col-sm-12 mb-4 ">
				<span class="h5 text-gray-900 mb-4">Nome Social:</span> <span
					class="h5 text-gray-900 mb-4" th:text="${usuario.username}"></span>
			</div>
				
			<div class="col-sm-12 mb-4 ">
				<span class="h5 text-gray-900 mb-4">Endereço:</span> <span
					class="h5 text-gray-900 mb-4" th:text="${usuario.endereco}"></span>
			</div>
			
			<div class="col-sm-12 mb-4 ">
				<span th:each="role : ${usuario.roles}"
						class="h5 text-gray-900 mb-4">-
					<span th:text="${role.id}"></span>
				</span>
			</div>
			
			<div class="col-sm-12 mb-4 ">
				<a class="btn btn-success btn-circle" th:href="@{/usuario/update/{id}(id=${usuario.id})}"><i class="fas fa-edit"></i></a>
			</div>
				
			</div>
		</div>
		<hr class="col-sm-12">
	</div>
	<!-- /.container-fluid -->
</div>
</body>
</html>
